<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'newPage.titlePanel'}}}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.tipo'}}}</label>
        <select class="form-control" name="">
        </select>
      </div>
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.budget'}}}</label>
        <select class="form-control" name="">
        </select>
      </div>
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.moeda'}}}</label>
        <select class="form-control" name="">
        </select>
      </div>
    </div>
  </div>
</div>
